#header{
  font: -webkit-small-control;
  font-size: 20px;
}

#content{
  width: 1030px;
}

#graph-wrapper{
  display: inline-flex;
}

#scale{
  width: 30px;
  height: 50%;
  font-size: 10px;
  font: -webkit-mini-control;
  /*border-right: 1px solid black;*/
}

#canvas-wrapper{
  position: relative;
  height: 50%;
  width: 100%;
}

#signal-graph{
  position: relative;
  width:100%;
  height: 100%;
}

#staff{
  width: 1001px;
  height: 100%;
  position: relative;
  top: -100%;
  /*padding: 0 3em;*/
  display: flex;
  text-align: justify;
  justify-content: space-around;
  align-items: center;
}

#staff:after {
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  background: black;
  content: "";
  width: 100%;
  display: block;
}

#note-div{
  width: 100%;
  height: 100%;
  position: relative;
  top: -200%;
  display: flex;
  text-align: justify;
  /*justify-content: space-around;*/
  align-items: center;
}

#counter {
  width: 1000px;
  height: 25px;
  /*border: 1px solid black;*/
  margin-left: 50px;
  display: flex;
  font: -webkit-small-control;
  font-size: 32px;
}

#cursor{
  position: relative;
  width: 0px;
  height: 50%;
  top: -275%;
  border-right: 1px solid gray;
  display: flex;
  transition-timing-function: linear;
}

hr {
    /*display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;*/
}
